{% load static %}
<html>
<head>
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet">
</head>

<body class="bg-gray-100 p-10 text-black">
    <header class="w-full bg-white shadow flex items-center justify-between px-6 py-4 fixed top-0 left-0 right-0 z-40">
            <a href="{% url 'student_dashboard' %}" 
                   class="px-3 py-2 border-2 border-black rounded-lg text-xl hover:bg-black hover:text-white">
                    ← 
                </a>
    
            <a href="{% url 'logout' %}" 
               class="px-4 py-2 bg-red-600 text-white rounded-md hover:bg-red-700 transition">
                Logout
            </a>
        </header> 
    <div class="p-12">

        <h1 class="text-2xl font-semibold mb-6">Manage Users</h1>

        <div class="overflow-x-auto bg-white shadow rounded-lg">
            <table class="min-w-full text-sm">
                <thead class="bg-gray-100 text-left">
                    <tr>
                        <th class="px-4 py-3">Username</th>
                        <th class="px-4 py-3">Email</th>
                        <th class="px-4 py-3">Role</th>
                        <th class="px-4 py-3">Department</th>
                        <th class="px-4 py-3">Status</th>
                        <th class="px-4 py-3">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    {% if user.userprofile.role != '' %}
                    <tr class="border-t">
                        <td class="px-4 py-3">{{ user.username }}</td>
                        <td class="px-4 py-3">{{ user.email }}</td>
                        <td class="px-4 py-3">{{ user.userprofile.role }}</td>
                        <td class="px-4 py-3">
                            {{ user.userprofile.department|default:"—" }}
                        </td>
                        <td class="px-4 py-3">
                            {% if user.is_active %}
                                <span class="text-green-600 font-medium">Active</span>
                            {% else %}
                                <span class="text-red-600 font-medium">Inactive</span>
                            {% endif %}
                        </td>
                        <td class="px-4 py-3">
                            <a href="{% url 'edit_user' user.id %}"
                            class="text-blue-600 hover:underline">
                                Edit
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>